body {
  background: linear-gradient(111deg, #677ac6, #9ddd99);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  -o-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
  padding:0;
  margin:0;
  box-sizing: 0;
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 38%}
  50%{background-position:100% 63%}
  100%{background-position:0% 38%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 38%}
  50%{background-position:100% 63%}
  100%{background-position:0% 38%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 38%}
  50%{background-position:100% 63%}
  100%{background-position:0% 38%}
}
@keyframes AnimationName {
  0%{background-position:0% 38%}
  50%{background-position:100% 63%}
  100%{background-position:0% 38%}
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

